.inform-container {
    width: 1200px;
    height: 30px;
    background: #f5e9d3;
}
.container {
    width: 1200px;
    height: auto;
    background: #46261d;
}
.container-company {
    width: 960px;
    height: auto;
    margin: 0 auto 0;
}
.menu-company {
    width: 250px;
    height: 900px;
    padding-right: 20px;
    padding-top: 30px;
    float: left;
}
.menu-company ul {
    list-style: none;
}
.menu-company a {
    color: #f5e9d3;
    text-decoration: none;
    font-family: Arial;
    font-size: 16px;
}
.menu-company a:hover {
    text-decoration: underline;
}
.about {
    width: 960px;
    height: auto;
    padding-top: 30px;
    color: #f5e9d3;
}
.about h1 {
    font-size: 40px;
    margin: 0;
}
.about p {
    font-family: Arial;
    font-size: 16px;
}
.navigation {
    font-size: 13px;
}
.navigation span {
    font-size: 9px;
}
.navigation a {
    color: #f5e9d3;
}
.map {
    margin: 40px;
}
.feedback span {
    color: #f5e9d3;
    font-size: 25px;
    font-family: Arial;
}
.feedback li {
    display: block;
    vertical-align: top;
    margin-left: 10px;
    list-style: none;
}

input[type="text"] {
    width: 288px;
    padding: 7px 9px;
    border: 1px solid #CCC;
    border-bottom-color: #B3B3B3;
    border-radius: 4px;
    box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
    color: #333;
    font: 14px Arial;
    margin: 10px;
}
textarea {
    width: 288px;
    padding: 7px 9px;
    border: 1px solid #CCC;
    border-bottom-color: #B3B3B3;
    border-radius: 4px;
    box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
    color: #333;
    font: 14px Arial;
    margin: 10px;
}
.submit-color {
    overflow: visible;
    padding: 7px 11px;
    outline: none;
    border: 1px solid #CCC;
    border-bottom-color: #B3B3B3;
    border-radius: 4px;
    box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
    color: #333;
    text-shadow: 1px 1px #FFF;
    font: 14px Arial, sans-serif;
    cursor: pointer;
    margin: 10px;
    margin-left: 115px;
}