body,
html {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
}
.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto 0;
}
.header {
    height: auto;
    position: relative;
    background: #46261d;
}
.header-top {
    height: 40px;
    display: inline-block;
    padding: 22px 0 10px;
    color: #f5e9d3;
    text-align: center;
}
.phone {
    width: 398px;
    margin-left: 2px;
    float: left;
    font-family: Arial, sans-serif;
    font-size: 30px;
}
.address {
    width: 398px;
    margin-left: 2px;
    float: left;
    font-size: 17px;
    font-family: Arial;
}
.email {
    width: 398px;
    margin-left: 2px;
    float: left;
    font-size: 17px;
    font-family: Arial;
}
.logo {
    height: 266px;
    background-image: url("../images/logo/logo.jpg");
}
.main-menu {
    height: 60px;
    background: #46261d;
    position: relative;
}
.menu {
    width: 960px;
    height: 60px;
    margin: 0 auto;
}
.menu ul {
    margin: 0;
    padding: 0;
}
.menu li {
    width: 192px;
    height: 60px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.menu a {
    color: #f5e9d3;
    text-decoration: none;
    font-family: Arial;
    font-size: 17px;
    padding: 20px 30px;
}
.menu li:hover {
    width: 192px;
    height: 60px;
    background: #f6bc7f;
    color: #46261d;
    text-decoration: underline;
}
.menu a:hover {
    color: #46261d;
    padding: 20px 30px;
}
.info-container {
    background: #f5e9d3;
    position: relative;
}
.info {
    width: 960px;
    height: auto;
    margin: 0 auto 0;
    padding: 10px 0 10px;
}
.info h2 {
    margin: 0;
    font-size: 40px;
    font-family: "Times New Roman";
    color: #46261d;
}
.photo-1 {
    width: 200px;
    height: 161px;
    margin: 0 20px;
    float: left;
}
.info span {
    font-family: Arial;
    font-size: x-large;
    color: #46261d;
}
.photo-2 {
    width: 466px;
    height: 312px;
    margin: 0 20px;
    float: left;
}
.text {
    font-family: Arial;
    font-size: 17px;
    margin: 10px 0;
    color: #46261d;
}
.container-programs {
    height: auto;
    background: #46261d;
    margin: 0;
}
.programs {
    width: 960px;
    height: 3200px;
    margin: 0 auto 0;
}
.programs h1 {
    margin: 0 auto 0;
    font-family: "Times New Roman";
    font-size: 45px;
    padding: 40px 0 20px;
    color: #f5e9d3;

}
.programs-foto {
    width: 420px;
    height: 350px;
    float: left;
    margin: 20px;
    margin-left: 40px;
}
.programs-foto a {
    text-decoration: none;
}
.programs-foto p {
    text-align: center;
    height: 36px;
    margin: 10px;
    padding: 0;
    color: #f5e9d3;
}
.programs-foto-last {
    width: 420px;
    height: 350px;
    margin: 20px auto 20px;
}
.programs-foto-last p {
    text-align: center;
    height: 36px;
    margin: 10px;
    padding: 0;
    color: #f5e9d3;
}
.footer-foreground {
    height: 198px;
    background: #46261d;
    position: relative;
}
.footer-container {
    max-width: 960px;
    margin: 0 auto 0;
}
.footer-email {
    width: 250px;
    height: 80px;
    color: #f5e9d3;
    font-family: "Arial Narrow";
    font-size: 30px;
    float: left;
    margin-top: 40px;
}
.footer-text {
    width: 400px;
    height: 90px;
    color: #f5e9d3;
    font-family: "Times New Roman";
    font-size: 35px;
    line-height: 30px;
    float: left;
    margin: 40px 50px;
    text-align: center;
}
span {
    color: #f5e9d3;
    font-size: 14px;
}
.footer-adress {
    height: 80px;
    text-align: right;
    color: #f5e9d3;
    font-family: Arial;
    padding-top: 40px;
}
.vk {
    clear: both;
    float: left;
    width: 100px;
    margin-top: -2px;
}
.text-1 {
    color: #f5e9d3;
    width: 492px;
    margin: 0 auto 0;
}
